
{% extends "layout.html" %}

{% block pageTitle %}
{{[serviceName]}}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-xl">
        {{[serviceName]}}

      </h1>{{releaseVersion | log }}
      <p>
        Highlevel journeys mocked up for Hippo Defra team. 
      </p>

      <h2 class="govuk-heading-m">Journeys overview</h2>

      <p>List journeys here</p>
      
      <div hidden>
        
        <h2 class="govuk-heading-m">Examples and documentation</h2>
        
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
          </li>
          <li>
            <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
          </li>
        </ul>
      </div>  
    </div>
  </div>

{% endblock %}
